body {
    margin-right: 20px;
    margin-left: 20px;
}

p, section, li{
    text-align: justify;
}

.navbar-brand  {
    font-weight: 700;
    font-size: 27px;
    padding: 10px, 30px;
    width: 100%;
}

.nav-link {
   
    font-size: 16px;
    margin: 0px;
    width: 100%;
}

h4 {
    font-size: 25px;
}

p {
    font-size: 16px;
}

code {
    padding: 15px;
    margin: 10px;
    border-radius: 0px;
    margin: auto;
    line-height: 2;
    justify-content: center;
  
}

img {
    width: 300px;
}